<div class="inner_container">
    <div class="wrapper">
        <div class="mk_poster xl_show" data-aos="zoom-out-up" data-aos-duration="2000"><img src="assets/aboutme.jpg" alt=""></div>
        <div class="mk_content_wrapper">
            <div class="mk_header" data-aos="fade-right">
                <h1>Portfolio <span data-aos="zoom-in">Work</span></h1>
            </div>
            
            <div class="wk_wrapper">
                <div class="mk_tabs">
                    <button mat-button (click)="tabActive('all')" [ngClass]="{'active' : tabActiveType['all'] == true}">All</button>
                    <button mat-button (click)="tabActive('mApps')" [ngClass]="{'active' : tabActiveType['mApps'] == true}">Mobile Apps</button>
                    <button mat-button (click)="tabActive('crm')" [ngClass]="{'active' : tabActiveType['crm'] == true}">Crm / Software</button>
                    <button mat-button (click)="tabActive('wApps')" [ngClass]="{'active' : tabActiveType['wApps'] == true}">Website</button>
                </div>
                
                <div class="mk_portfolio_wr">
                    <ng-container *ngIf="tabActiveType['all']">
                        <figure>
                            <a href="portfolio#img1" class="small_thumb">
                                <img src="assets/portfolio/AbacusDesk_Sales_appUI_small.png">
                            </a>
                            
                            <a href="portfolio#_" class="big_thumb" id="img1">
                                <div class="zoom_container">
                                    <button class="cancel"><i class="material-icons">close</i></button>
                                    <img src="assets/portfolio/AbacusDesk_Sales_appUI_big.png">
                                </div>
                            </a>
                        </figure>
                        
                        <figure>
                            <a href="portfolio#img2" class="small_thumb">
                                <img src="assets/portfolio/AsianHospital_crmUI_small.png">
                            </a>
                            
                            <a href="portfolio#_" class="big_thumb" id="img2">
                                <div class="zoom_container">
                                    <button class="cancel"><i class="material-icons">close</i></button>
                                    <img src="assets/portfolio/AsianHospital_crmUI_big.png">
                                </div>
                            </a>
                        </figure>
                        
                        <figure>
                            <a href="portfolio#img3" class="small_thumb">
                                <img src="assets/portfolio/equilibrium_appUI_dark_small.png">
                            </a>
                            
                            <a href="portfolio#_" class="big_thumb" id="img3">
                                <div class="zoom_container">
                                    <button class="cancel"><i class="material-icons">close</i></button>
                                    <img src="assets/portfolio/equilibrium_appUI_dark_big.png">
                                </div>
                            </a>
                        </figure>
                        
                        <figure>
                            <a href="portfolio#img4" class="small_thumb">
                                <img src="assets/portfolio/Planify_webUI_small.png">
                            </a>
                            
                            <a href="portfolio#_" class="big_thumb" id="img4">
                                <div class="zoom_container">
                                    <button class="cancel"><i class="material-icons">close</i></button>
                                    <img src="assets/portfolio/Planify_webUI_big.png">
                                </div>
                            </a>
                        </figure>
                        
                        <figure>
                            <a href="portfolio#img5" class="small_thumb">
                                <img src="assets/portfolio/equilibrium_appUI_light_small.png">
                            </a>
                            
                            <a href="portfolio#_" class="big_thumb" id="img5">
                                <div class="zoom_container">
                                    <button class="cancel"><i class="material-icons">close</i></button>
                                    <img src="assets/portfolio/equilibrium_appUI_light_big.png">
                                </div>
                            </a>
                        </figure>
                        
                    </ng-container>
                    
                    
                    
                    
                    <figure *ngIf="tabActiveType['mApps']">
                        <a href="portfolio#img1" class="small_thumb">
                            <img src="assets/portfolio/AbacusDesk_Sales_appUI_small.png">
                        </a>
                        
                        <a href="portfolio#_" class="big_thumb" id="img1">
                            <div class="zoom_container">
                                <button class="cancel"><i class="material-icons">close</i></button>
                                <img src="assets/portfolio/AbacusDesk_Sales_appUI_big.png">
                            </div>
                        </a>
                    </figure>
                    
                    <figure *ngIf="tabActiveType['crm']">
                        <a href="portfolio#img2" class="small_thumb">
                            <img src="assets/portfolio/AsianHospital_crmUI_small.png">
                        </a>
                        
                        <a href="portfolio#_" class="big_thumb" id="img2">
                            <div class="zoom_container">
                                <button class="cancel"><i class="material-icons">close</i></button>
                                <img src="assets/portfolio/AsianHospital_crmUI_big.png">
                            </div>
                        </a>
                    </figure>
                    
                    <figure *ngIf="tabActiveType['mApps']">
                        <a href="portfolio#img3" class="small_thumb">
                            <img src="assets/portfolio/equilibrium_appUI_dark_small.png">
                        </a>
                        
                        <a href="portfolio#_" class="big_thumb" id="img3">
                            <div class="zoom_container">
                                <button class="cancel"><i class="material-icons">close</i></button>
                                <img src="assets/portfolio/equilibrium_appUI_dark_big.png">
                            </div>
                        </a>
                    </figure>
                    
                    <figure *ngIf="tabActiveType['wApps']">
                        <a href="portfolio#img4" class="small_thumb">
                            <img src="assets/portfolio/Planify_webUI_small.png">
                        </a>
                        
                        <a href="portfolio#_" class="big_thumb" id="img4">
                            <div class="zoom_container">
                                <button class="cancel"><i class="material-icons">close</i></button>
                                <img src="assets/portfolio/Planify_webUI_big.png">
                            </div>
                        </a>
                    </figure>
                    
                    <figure *ngIf="tabActiveType['mApps']">
                        <a href="portfolio#img5" class="small_thumb">
                            <img src="assets/portfolio/equilibrium_appUI_light_small.png">
                        </a>
                        
                        <a href="portfolio#_" class="big_thumb" id="img5">
                            <div class="zoom_container">
                                <button class="cancel"><i class="material-icons">close</i></button>
                                <img src="assets/portfolio/equilibrium_appUI_light_big.png">
                            </div>
                        </a>
                    </figure>
                    
                    
                    
                    
                </div>
            </div>
            
        </div>
    </div>
</div>